# General OS ignores
*.log
.DS_Store

# General WordPress ignores
/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

# Ignore everything in wp-content except index.php files (up to two directory levels)
wp-content/*
wp-content/*/*
!wp-content/index.php
!wp-content/*/
!wp-content/*/index.php
